workDir = 'gs://phi-nextflow-bucket/work'

docker.enabled = true

params.googleProject = "phinguyen"

process {
    executor = 'google-batch'
    maxRetries = 3

    withName: '!.*(DOWNLOAD|UNZIP).*' {  // Apply to all processes except those named DOWNLOAD
        publishDir = [
            path: { "output/" + task.process.replace(":", "/") },
            mode: "copy",
            enabled: true
        ]
    }
}

google {
    project = params.googleProject
    location = 'us-central1'
    batch.spot = true
}

cloudcache {
    enabled = true
    path = 'gs://phi-nextflow-bucket/.cache'
}