workDir = 'gs://phi-nextflow-bucket/work'

docker.enabled = true

process {
    executor = 'google-batch'
    maxRetries = 3

    withName: '!.*DOWNLOAD_DATABASE' {  // Apply to all processes except those named DOWNLOAD_DATABASE
        publishDir = [
            path: { "output/" + task.process.replace(":", "/") },
            mode: "copy",
            enabled: true
        ]
    }
}

google {
    project = 'phinguyen'
    location = 'us-central1'
    batch.spot = true
}

cloudcache {
    enabled = true
    path = 'gs://phi-nextflow-bucket/.cache'
}